<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <h3 class="tittle">Appointment Success</h3>
            <div class="alert alert-success">
                Your appointment has been successfully booked.
            </div>
        </div>
    </div>
</section>
