@using Hospital_Management_System.Entity.Entities
@model List<Doctor>
@{
    ViewData["Title"] = "List";


}
<style>
    h4 {
        color: #333;
        font-family: 'Arial', sans-serif;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .col-md-4 {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border-color 0.3s;
    }

        .form-control:focus {
            border-color: #007bff;
        }

    .control-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

    .my-2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
        margin-top: 20px;
        color: #007bff;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s;
    }

        a:hover {
            color: #0056b3;
        }
</style>


<h3>Ürünler</h3>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h5 class="card-title">@p.Name</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Fiyat : @string.Format("{0:C2}", p.PhoneNumber)</p>
                    <a asp-controller="Admin" asp-action="Details" asp-route-id="@p.Id" class="btn btn-primary">Details</a>
@*                     <a href="/Product/Details/@p.Id"class="btn btn-primary">Details</a> *@
                </div>
            </div>
        </div>
    }
</div>

