@using Hospital_Management_System.Entity.Entities
@model IEnumerable<Hospital>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Ürünler</h3>
<br />
<br />
<br />
@{
	ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>


