
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Ürünler</h3>
<br />
<br />
<br />
@{
	ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>


<div>
	<a asp-controller="Hospital" asp-action="Index" class="btn btn-primary">Hospital Index</a>
</div>
<div>
	<a asp-controller="Doctor" asp-action="Index" class="btn btn-primary">Doctor Index</a>
</div>
<div>
	<a asp-controller="Patient" asp-action="Index" class="btn btn-primary">Patient Index</a>
</div>
<div>
	<a asp-controller="Prescription" asp-action="Index" class="btn btn-primary">Prescription Index</a>
</div>