@using Hospital_Management_System.Entity.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <h3 class="tittle">Kullanıcı Girişi</h3>
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-action="Login" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Giriş Yap" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
