<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Medic Medical Category Bootstrap Responsive Web Template | Gallery :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Medic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	<!-- Custom-Files -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		  rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		  rel="stylesheet">
	<!-- //Web-Fonts -->

</head>

<body>

	<!-- banner 2 -->
	<div class="inner-banner-w3ls">
		<div class="container">
		</div>
		<!-- //banner 2 -->
	</div>
	<!-- page details -->
	<div class="breadcrumb-agile">
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Gallery</li>
			</ol>
		</div>
	</div>
	<!-- //page details -->
	<!-- gallery -->
	<div class="gallery py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title">Gallery</h3>
				<span>
					<i class="fas fa-user-md"></i>
				</span>
				<p class="mt-2">Our page visually showcases the modern facilities, equipment, and patient care areas of the healthcare facility, providing visitors with information about the institution.</p>
			</div>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<img src="/images/g1.jpg" alt="" class="img-fluid" />

					</li>
					<li>
						<img src="/images/g2.jpg" alt="" class="img-fluid" />
					</li>
					<li>
						<img src="/images/g3.jpg" alt="" class="img-fluid" />
					</li>
					<li>

						<img src="/images/g4.jpg" alt="" class="img-fluid" />

					</li>
					<li>
						<img src="/images/g6.jpg" alt="" class="img-fluid" />

					</li>
					<li>

						<img src="/images/g9.jpg" alt="" class="img-fluid" />
					</li>
					<li>
						<img src="/images/g8.jpg" alt="" class="img-fluid" />

					</li>
					<li>
						<img src="/images/g7.jpg" alt="" class="img-fluid" />

					</li>
					<li>
						<img src="/images/g5.jpg" alt="" class="img-fluid" />

					</li>
				</ul>

			</section>
		</div>
	</div>
	<!-- //gallery -->
	<!-- footer -->
	<footer>
		<div class="w3ls-footer-grids pt-sm-4 pt-3">
			<div class="container py-xl-5 py-lg-3">
				<div class="row">
					<div class="col-md-4 w3l-footer">
						<h2 class="mb-sm-3 mb-2">
							<a href="index.html" class="text-white font-italic font-weight-bold">
								<span>M</span>edic
								<i class="fas fa-syringe ml-2"></i>
							</a>
						</h2>
						<p>
							Our hospital's contact details are provided on the side. Please do not hesitate to reach out if you have any questions. We are here to offer you the best service with our expert team.
						</p>
					</div>
					<div class="col-md-4 w3l-footer my-md-0 my-4">
						<h3 class="mb-sm-3 mb-2 text-white">Address</h3>
						<ul class="list-unstyled">
							<li>
								<i class="fas fa-location-arrow float-left"></i>
								<p class="ml-4">
									Barbaros Bulvarı Yıldız İş Hanı
									<span>Beşiktaş/İstanbul</span>
								</p>
								<div class="clearfix"></div>
							</li>
							<li class="my-3">
								<i class="fas fa-phone float-left"></i>
								<p class="ml-4">1234567890</p>
								<div class="clearfix"></div>
							</li>
							<li>
								<i class="far fa-envelope-open float-left"></i>
								<a href="mailto:info@example.com" class="ml-3">mail@example.com</a>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>
					<div class="col-md-4 w3l-footer">
						<h3 class="mb-sm-3 mb-2 text-white">Quick Links</h3>
						<div class="nav-w3-l">
							<ul class="list-unstyled">
								<li>
									<a href="/Home/index">Home</a>
								</li>
								<li class="mt-2">
									<a href="/Home/About">About Us</a>
								</li>
								<li class="mt-2">
									<a href="/Home/Gallery">Gallery</a>
								</li>
								<li class="mt-2">
									<a href="/AppointmentRequest/Appointment">Appointment</a>
								</li>
								<li class="mt-2">
									<a href="/Home/Contact">Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="border-top mt-5 pt-lg-4 pt-3 pb-lg-0 pb-3 text-center">
					<p class="copy-right-grids mt-lg-1">
						© 2024 Medic. All Rights Reserved | Design by
						<a href="https://w3layouts.com/" target="_blank">W3layouts</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- Js files -->
	<!-- JavaScript -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->
	<!-- Gallery-js -->
	<script src="js/modernizr.custom.97074.js"></script>
	<script src="js/jquery.hoverdir.js"></script>
	<script>
		$(function () {

			$(' #da-thumbs > li ').each(function () {
				$(this).hoverdir();
			});

		});
	</script>

	<script src="js/jquery.chocolat.js"></script>
	<link rel="stylesheet" href="css/chocolat.css" type="text/css">
	<!--light-box-files -->
	<script>
		$(function () {
			$('.da-thumbs a').Chocolat();
		});
	</script>
	<!-- Gallery-js -->
	<!-- fixed navigation -->
	<script src="js/fixed-nav.js"></script>
	<!-- //fixed navigation -->
	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- move-top -->
	<script src="js/move-top.js"></script>
	<!-- easing -->
	<script src="js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="js/medic.js"></script>

	<script src="js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //Js files -->

</body>

</html>